* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.bookBox {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bookForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bookList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.bookFilter {
  margin: 20px auto;
  display: flex;
}

.bookFilter input {
  height: 40px;
  width: 300px;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
}

.bookFilter p {
  width: 200px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px dotted hotpink;
  border-radius: 8px;
  padding: 5px 15px;
}

.bookForm input {
  height: 40px;
  width: 300px;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
}

.book button {
  height: 50px;
}
